.error {
    border: 1px solid red; /* Change the border color as needed */
  }
  
/* Add this CSS to change cursor and update color for the submit button */
.custom-submit-button {
    cursor: pointer; /* Change cursor to pointer */
    background-color: #4CAF50; /* Update background color */
    color: white; /* Update text color */
  }
  
  /* Change button color when disabled */
  .custom-submit-button:disabled {
    background-color: #cccccc; /* Update disabled background color */
    cursor: not-allowed; /* Change cursor to not-allowed when disabled */
  }
  